body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

a {
    color: inherit;
    text-decoration: none;
}

.none {
    display: none;
}

header {
    justify-content: center;
    width: 100%;
    background-color: rgba(30, 64, 162, 0.73);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}

h1 {}

.header-arrow {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 48px;
    height: 48px;
}

.header-arrow:hover {
    transform: translate(-50%, -10px);
    transition: all 0.2s ease-in;
}


/* Портфолио */

.portfolio {
    padding-top: 80px;
    padding-bottom: 120px;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.section-header {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.portfolio-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
    width: 540px;
    padding: 20px;
    margin-bottom: 30px;
    flex-basis: auto;
    border-radius: 5px;
}

.img-wrap {
    margin-bottom: 20px;
    width: 500px;
    height: 240px;
    overflow: hidden;
    display: block;
}

.card img {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

.card:nth-last-child(2),
.card:last-child {
    margin-bottom: 0;
}

.card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 13px;
}

.card p {
    font-size: 16px;
    line-height: 1.6;
}

.card a {
    border-bottom: dotted 1px;
}

.card a:hover {
    color: #4366cc;
}